.component__filter__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: 1rem;
    font-weight: 600;
}

.check__inp{
    zoom: 1.5;
}