.article__div{
    border-bottom: 1px solid #000;
    padding: 1rem 0 0 0;
}
.article__div:last-child{
    border-bottom: none;
}

.article__content__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    >img{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .article__content__div{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 0.25rem;
        >p, h4{
            margin: 0;
        }
    }
}

.article__inner__div{
    text-align: right;
}